




@font-face {
    font-family: 'titre';
    src: url('polices/webfontkit-20221215-114624/patuaone-regular-webfont.woff') format('woff'),
    url('polices/webfontkit-20221215-114624/patuaone-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'texte';
    src: url('polices/webfontkit-20221215-134508/poppins-regular-webfont.woff') format('woff'),
    url('polices/webfontkit-20221215-134508/poppins-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

body{
    color: black;
    background-color: white;
    /*border: 1px;*/
    /*padding: 1em;*/
    font-family: texte;
}

h1,h2{
    font-family: titre;
}

img,figure>img{
    border-radius:20px;
}
main,footer,header{
    margin-right: 15em;
    margin-left: 15em;
}

main{
    background-color: #D3F78F;
}
header,footer{
    display: flex;
    background-color: #9bc635;
}

header>section{
    display: flex;
    flex-direction: column;
    line-height: 0.1px;
    align-self: center;
    /*background-color: red;*/
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

header > div > * ,footer > div > *{
    margin: auto 1% auto;
}

img{
    padding: 0.5em;
}

header>img{
    background-color: #9bc635;
}

header>h2{
    align-self: center;
}

main>section>article>div{
    display: flex;
    /*float: left;*/
    /*background-color: red;*/
}

/* le titre h2 */

main>section>article>h2{
    /*display: flex;*/
    background-color: #00373e;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;

}

main>section>article>div>img+p{
    font-size: 25px;
    height: 20px;
    /*float: left;*/
    /*background-color: red;*/
}

main>section>article>div>img{
    flex-basis: 20%;
    /*float: left;*/
    /*background-color: red;*/
}

main>section>article>h1{
    /*display: flex;*/
    background-color: #00373e;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0em;

}

main>section>article+article>h2+div{
    display:flex;
    justify-content: center;
}

main>section>article+article+article>h2+div{
    /*background-color: red;*/
    display:inline-flex;
    justify-content: center;
}
/* mettre le text au dessus des figures 1 et2 */
main>section>article+article+article>h2+div>div{
    /*background-color: purple;*/
    display:flex;
    flex-direction: column;
}
/* idem 3 et 4 */
main>section>article+article+article>h2+div+div>div{
    /*background-color: red;*/
    display:flex;
    flex-direction: column;
}

main>section>article+article+article>h2+div>div>p{
    background-color: #00373e;
    color: white;
    display:flex;
    align-self: center;
    margin-bottom: 0em;
}

main>section>article+article+article>h2+div+div>div>p{
    background-color: #00373e;
    color: white;
    display:flex;
    align-self: center;
    margin-bottom: 0em;
}

/* centrer le premier div */
main>section>article+article+article>h2+div{
    display:flex;
    justify-content: center;
}
/* centrer le deuxième div */
main>section>article+article+article>h2+div+div{
    display:flex;
    justify-content: center;
}
/* gestion du premier OU */
main>section>article+article+article>h2+div>div+p{
    display:flex;
    align-self: center;
}

/* gestion du deuxième OU */
main>section>article+article+article>h2+div+div>div+p{
    display:flex;
    align-self: center;
}
/* enlever la marge externe de l'img 1 et la redimensionner pour qu'elle est la largeur du texte */
main>section>article+article+article>h2+div>div>p+figure>img{
    padding-top: 0em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* enlever la marge externe de l'img 3 et 4 et les redimensionner pour qu'elle est la largeur du texte */
main>section>article+article+article>h2+div+div>div>p+figure>img{
    width: 210px;
    height: 250px;
    padding-top: 0em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* enlever la marge externe de la figure des 2 premières images article 3 */
main>section>article+article+article>h2+div>div>p+figure{
    margin-top: 0em;
}

/* enlever la marge externe de la figure des 2 derniers images article 3 */
main>section>article+article+article>h2+div+div>div>p+figure{
    margin-top: 0em;
}

/* centrer les légendes */
figcaption{
    text-align: center;
}

/* arranger la largeur du conteneur du text self-service */
main>section>article+article+article>h2+div+div>div>p{
    padding-left: 4em ;
    padding-right: 4em ;
    font-family: titre;
}

/* arranger la largeur du conteneur du text panier repas */
main>section>article+article+article>h2+div+div>div+p+div>p{
    padding-left: 2.7em ;
    padding-right: 2.7em ;
    font-family: titre;
}

/* arranger la largeur du conteneur du text couple*/
main>section>article+article+article>h2+div>div+p+div>p{
    padding-left: 0.95em ;
    padding-right: 0.95em ;
    font-family: titre;
}

/* arranger la largeur du conteneur du text bungaluws */
main>section>article+article+article>h2+div>div>p{
    padding-left: 1.7em ;
    padding-right: 1.7em ;
    font-family: titre;
}

/* remettre en place l'img décalé par le padding du texte */
main>section>article+article+article>h2+div+div>div+p{
    padding-left: 1em;
    padding-right: 1em;
}

main>section>article+article+article+article>p{
    text-align: center;
}

main>section>article+article+article+article>h2+p+div{
    display: flex;
    justify-content: center;
}

main>section>article+article+article+article>h2+p+div+p+div{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #00373e;
    color: white;
    /*justify-content: center;*/
}

main>section>aside{
    display: flex;
    /*background-color: aquamarine;*/
    justify-content: center;
}

footer>img+div{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
}




